{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extend",
        "extends",
        "ignores"
      ]
    }],
    "color-hex-length": null,
    "unit-whitelist": [
      "ch",
      "deg",
      "em",
      "ms",
      "rem",
      "vh",
      "vw",
      "%"
    ]
  }
}
