.detailsButton {
  background-color: #767676;
  border: 0;
  color: #ffffff;
  line-height: 1.5rem;
  padding: 0.25rem 1.1875rem;

  &:focus,
  &:hover {
    background-color: #e3e3e3;
    color: #565656;
  }

  &--open {
    margin-bottom: 0.625rem;
  }
}
