.detailsButton {
  background-color: #767676;
  border: 0;
  color: #ffffff;
  line-height: 24px;
  padding: 4px 19px;

  &:focus, &:hover {
    background-color: #e3e3e3;
    color: #565656;
  }

  &--open {
    margin-bottom: 10px;
  }
}
