$default-input-padding: 0.3125rem;
$default-input-font-size: 1rem;

/*** Input styling ***/

.xpFormEditorLabel {
  display: block;
  margin-bottom: 0.625rem;
}

.xpFormInput {
  border: 0.0625rem solid #98c9f2;
  box-sizing: border-box;
  width: 100%;
  padding: 0.25rem 0.625rem;
  line-height: 1rem;
}

.xpFormTextInput,
.xpFormSelect {
  height: 2.3125rem;
}

.xpFormTextInput.largeSize,
.xpFormSelect.largeSize {
  font-size: $default-input-font-size * 2;
}

.xpFormTextInput.normalSize,
.xpFormSelect.normalSize {
  font-size: $default-input-font-size * 1.5;
}

.xpFormTextInput.smallSize,
.xpFormSelect.smallSize {
  font-size: $default-input-font-size;
}

.xpFormHtmlInput {
  min-height: 3.25rem;
}

.xpFormInput.noLabel {
  border: 0;

  &:hover,
  &:focus {
    border: 0.0625rem solid #999999;
    padding: 0.0625rem;
  }
}
