/*** Icons ***/
$logo-width-small: 28px;
$logo-width-large: 64px;

/*** Colors ***/
$button-text: #777777;
$button-text-light: #ffffff;
$background-dark: #000000;

/*** ***/
$font-size-small: 12px;
$font-size-medium: 15px;
$font-size-large: 18px;
$font-size-x-large: 24px;


/*** Sizes ***/
$minimum-click-size: 44px;
$appbar-height: $minimum-click-size;
$default-padding-horizontal: 16px;

$checkbox-size: 16px;

/*** Positioning ***/
$launcher-z-index: 2500;
$delete-field-position: 22px;
