.xpToolbar {
  height: $minimum-click-size;
  border-bottom: 0.0625rem solid #ccc;
}

.xpToolbar__item {
  display: inline-block;
  line-height: $minimum-click-size;
  padding: 0 $default-padding-horizontal;
}

.xpToolbar__button {
  border: 0;
  background-color: transparent;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  color: $button-text;
  padding: 0;
  cursor: pointer;
  line-height: $minimum-click-size;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

@media screen and (min-width: 48rem) {
  .xpScrollableColumn {
    display: inline-block;
    float: left;
    width: 34.375rem;
    min-width: 26.5625rem;
    overflow-y: scroll;
    resize: horizontal;
    height: calc(100vh - (#{$minimum-click-size} * 2) - 0.0625rem);
    box-sizing: border-box;
  }

  .xpFlexibleColumn {
    height: calc(100vh - #{$minimum-click-size} - #{$minimum-click-size} - 0.0625rem);
    box-sizing: border-box;
    overflow: hidden;
  }
}
