@import "../common/variables";

.xpAppBar {
  background-color: #333333;
  color: #fff;
  height: $appbar-height;
  padding: 0 0.625rem 0 $default-padding-horizontal;
  display: grid;
  grid-template-columns: $logo-width-small auto $minimum-click-size;
  grid-template-rows: auto;
  grid-template-areas: "logo heading";
  grid-gap: 0.625rem;
}

.xpAppBar .xpFormLogo {
  grid-area: logo;
  margin: (($appbar-height - $logo-width-small)/2) 0;
}

.xpAppBarHeading {
  grid-area: heading;
  text-transform: uppercase;
  line-height: $appbar-height;
  font-size: 0.9375rem;
  font-family: "Open Sans", sans-serif;
}
