@import '../common/variables';

$logo-width: 4em;
$default-margin-right: 1.5625rem;
$default-margin-bottom: 0.625rem;
$navigationTabArrowHeight: 1.3125rem;

/*** Colors ***/
$primaryBackgroundColor: #ffffff;
$secondaryBackgroundColor: #eeeeee;
$navigationTabBackgroundColor: $secondaryBackgroundColor;
$navigationTabActiveBackgroundColor: $primaryBackgroundColor;

/*** Editor framework ***/

@media screen and (min-width: 48rem) {
  .xpFormEditorForm {
    display: inline-block;
    float: left;
    width: 34.375rem;
    min-width: 26.5625rem;
    overflow-y: scroll;
    resize: horizontal;
    height: calc(100vh - (3 * #{$minimum-click-size}) - 1rem);
    padding-top: 0.9375rem;
    padding-bottom: $minimum-click-size;
  }

  .xpFormPreview {
    height: calc(100vh - (3 * #{$minimum-click-size}) - 1rem);
    overflow: hidden;
    overflow-y: auto;
    padding-top: 0.9375rem;
    padding-bottom: $minimum-click-size;
  }
}

/*** Form editor ***/

@import "formEditorHeading";

.xpFormEditorContainer {
  position: relative;
  background-color: $secondaryBackgroundColor;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  margin-bottom: 1.875rem;
}

.xpFormEditorFieldset {
  padding: 0.625rem;
  background-color: $primaryBackgroundColor;
  margin-bottom: 0.625rem;
  position: relative;
}

.xpFormEditorFieldset legend {
  font-size: 0.875rem;
  color: #777777;
  float: left;
  width: 100%;
  margin-bottom: 1.25rem;
}

.xpFormEditorFieldset legend .drag-handle {
  margin-right: 0.9375rem;
}

.xpFormEditorDeleteFieldButton {
  font-family: "icomoon", sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  width: $minimum-click-size;
  height: $minimum-click-size;
  padding: 0;
  margin-top: -($minimum-click-size/2);
  margin-bottom: 0.6875rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: $delete-field-position;
  right: 0;
}

.xpFormEditorFieldset > :last-child {
  margin-bottom: 0;
}

.xpFormEditorConfiguration {
  padding-left: 1.5625rem;
  padding-right: 3.75rem;
}

.xpFormEditorConfigurationHeading {
  font-size: 1.5625rem;
  line-height: 1.25rem;
  margin-bottom: 1.875rem;
  box-sizing: border-box;
  width: calc(100% + 1.25rem);
  border-bottom: 0.0625rem solid #cccccc;
  margin-left: -0.625rem;
  padding-left: 0.625rem;
}

@import "formEditorToolbar";
@import "formEditorNavigation";
