$default-margin-right: 1.5625rem;
$default-margin-bottom: 0.625rem;
$button-text: #777777;

/*** Editor toolbar styling ***/

.xpFormEditorToolbar {
  height: $minimum-click-size;
  border-bottom: 0.0625rem solid #ccc;
}

.xpFormEditorControls__item {
  display: inline-block;
  line-height: $minimum-click-size;
  padding: 0 $default-padding-horizontal;
}

.xpFormEditorControls__button {
  border: 0;
  background-color: transparent;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  color: $button-text;
  padding: 0;
  cursor: pointer;
}
